<div class="dev-overlay is-hidden" data-dev-modal>
    <div class="dev-form dev">
        <span class="close-modal" data-dev-close></span>
        <div class="dev__img _img">
            <picture>
                <source srcset="
                            ./images/stuff/desktop/developer.webp 1x, 
                            ./images/stuff/desktop/developer@2x.webp 2x"
                        type="image/webp" 
                        media="(min-width: 1200px)">
                <source srcset="
                            ./images/stuff/tablet/developer.webp 1x, 
                            ./images/stuff/tablet/developer@2x.webp 2x"
                        type="image/webp"
                        media="(min-width: 768px)">
                <source srcset="
                            ./images/stuff/mobile/developer.webp 1x, 
                            ./images/stuff/mobile/developer@2x.webp 2x"
                        type="image/webp" 
                        media="(max-width: 767px)">
                <source srcset="
                            ./images/stuff/desktop/developer.jpg 1x, 
                            ./images/stuff/desktop/developer@2x.jpg 2x"
                         media="(min-width: 1200px)">
                <source srcset="
                            ./images/stuff/tablet/developer.jpg 1x, 
                            ./images/stuff/tablet/developer@2x.jpg 2x"
                        media="(min-width: 768px)">
                <source srcset="
                            ./images/stuff/mobile/developer.jpg 1x, 
                            ./images/stuff/mobile/developer@2x.jpg 2x"
                        media="(max-width: 767px)">
                <img class="_img" src="./images/stuff/desktop/developer.jpg" alt="Олексій Вербицький" width="450" >
            </picture>
        </div>
        <div class="dev__content">
            <p>Олексій Вербицький</p>
            <p lang="en">Front-End Developer</p>
        </div>
        <div class="dev__social social">
            <ul class="social__list">
                <li class="social__link">
                    <a href="https://github.com/AVerba" target="_blank" rel="noreferrer noopener">
                        <svg class="icon" width="48" height="48">
                            <use xlink:href="./images/icons/icons.svg#github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__link">
                    <a href="https://t.me/OleksiiVerbytskyi" target="_blank" rel="noreferrer noopener">
                        <svg class="icon" width="48" height="48">
                            <use xlink:href="./images/icons/icons.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__link">
                    <a href="mailto:info@devstudio.com" class="contacts__link">
                        <svg class="icon" width="48" height="48">
                            <use xlink:href="./images/icons/icons.svg#gmail"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__link">
                    <a href="https://linkedin.com" target="_blank" rel="noreferrer noopener">
                        <svg class="icon" width="48" height="48">
                            <use xlink:href="./images/icons/icons.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>    
    </div>
</div>