<footer class="footer">
    <div id="pagination" class="tui-pagination"></div>
<!--     <div class="container">
        <ul class="contact-list">
            <li class="contact-list__item">
                <span>© 2021 | All Rights Reserved |</span>
            </li>
            <li class="contact-list__item">Developed with
                <svg class="icon" width="20" height="20">
                    <use xlink:href="./images/icons/icons.svg#favorite"></use>
                </svg> 
                <span>by <a href="" class="modal-team">GoIT Students</a></span>
            </li>
        </ul>
    </div> -->
</footer>