<header class="header">
    <div class="container">
        <a href="./index.html" class="header__logo logo" target="_blank" >
            <svg class="logo-icon icon" width="24" height="22.8">
                <use xlink:href="./images/icons/icons.svg#film"></use>
            </svg>
        Filmoteka
        </a>
        <form action="#" class="search-film" id="searchFilm">
            <label class="search-film__field">
                <input type="text" class="search-film__input" id="searchInput" name="text" placeholder="Поиск фильмов"/> 
            </label>
            <button type="submit" class="btn search-film__btn" id="searchBtn">
                <svg class="icon-search" width="12" height="12">
                    <use xlink:href="./images/icons/icons.svg#search"></use>
                </svg>
            </button>
        </form>
        <button type="button" class=" account-btn" data-modal-open>
            <svg class="btn-icon" width="22" height="22">
                <use href="./images/icons/icons.svg#account"></use>
            </svg>
        </button>  

        <nav class="header__menu menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="" class="menu__link">home</a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__link">my library</a>
                </li>
            </ul>
        </nav> 

    </div>

</header>