.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  
    margin-left: auto;
    margin-right: auto;
    @include for-size(mobile) {
      width: 320px;
      display: flex;
      align-items: center;
      /*  display: block; */
    }
  
    @include for-size(tablet) {
      display: flex;
      align-items: center;
      width:768px;
    }
  
    @include for-size(desktop) {
      display: flex;
      align-items: center;
      width: 1024px;
    }
  }
