.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  
  .tui {
    &-page-btn {
      border: none!important;
      margin: 8px;
      border-radius: 5px;
    }
  
    &-is-selected {
      background-color: $accent-color!important;
      border-color: $accent-color!important;
    }
  }
  